#btn{
    color: #ffffff !important;
    background-color: #596569;
    border-color: #596569;
    box-shadow: none;
}
.close{
    position: relative;
    left: 10px;
}
#table{
    right: 12%;
    width: 113%;
    margin-top:20% 
}
#col{
    right: 12%;
    width: 113%;
}