<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
<!-- Inline Layout -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="col">
    <div class="card">
        <div class="body">
            <form>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                        <label for="email_address_2">Location</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="form-line">
                            <input  type="text"   class="form-control wid" placeholder="Blank for all locations">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-12px;text-align: center">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- #END# Inline Layout -->
<!-- Table card -->
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
    <div class="card">
        <div class="header">
            <h2>Inventory
            </h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                      <tr>
                        <th>Total Inventory value</th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                        <tr>
                            <th>Total</th>
                            <th>Location</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Not Packed</th>
                            <th>Pending sales</th>
                            <th>Pending Buys</th>
                            <th>Live Quantity</th>
                            <th>Cost Px</th>
                            <th>Temp Range</th>
                            <th>Class</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Orders Value</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Trades Value</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Sub Total(items)</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Payments</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Transfers</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Converts(Forex)</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            </tr>
                        <tr>
                            <td>Sub Total(payments)</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Balance (to pay)</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>₹ 0	</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# table card -->
</section>