.header{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #6c203c , #ee3b3c , #d0663d ) !important	;
}
/* -- import Bootstrap v3 ----------------------------- */
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
/* -- import Bootstrap docs ---------------------------- */
@import "//getbootstrap.com/assets/css/docs.min.css";
/* -- import Roboto Font ------------------------------ */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/*-- Body style ---------------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
body {
font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 1.4;
color: #212121;
overflow-x: hidden;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
/* -- Main style ------------------------------------ */
.btn {
font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 1.1;
text-transform: uppercase;
letter-spacing: inherit;
/* color: rgba(255, 255, 255, 0.87); */
background-color:#ee3b3c !important;
text-align: center;
}
#username{
	position: relative !important;
	left: 0 !important;
}
.username{
	position: relative !important;
	left: 0 !important;
}
.btn-default,
.btn-link {
color: rgba(0, 0, 0, 0.87);
}
/* -- Buttons style ------------------------------------ */
.btn {
outline: 0;
outline-offset: 0;
border: 0;
border-radius: 2px;
transition: all 0.15s ease-in-out;
-o-transition: all 0.15s ease-in-out;
-moz-transition: all 0.15s ease-in-out;
-webkit-transition: all 0.15s ease-in-out;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
outline: 0;
outline-offset: 0;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
/* -- Buttons types -------------------------------- */
.btn-raised {
-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
-moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn-raised:active,
.btn-raised.active,
.btn-raised:active:focus,
.btn-raised.active:focus {
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-raised:focus {
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn.btn-circle {
padding: 0;
border-radius: 50%;
}
/* -- Buttons colors -------------------------------- */
.btn-default,
.dropdown-toggle.btn-default {
background-color: #fff;
}
.btn-default:hover,
.dropdown-toggle.btn-default:hover {
background-color: #e5e5e5;
}
.btn-default:active,
.dropdown-toggle.btn-default:active,
.btn-default.active,
.dropdown-toggle.btn-default.active {
background-color: #e5e5e5;
}
.btn-default:focus,
.dropdown-toggle.btn-default:focus {
background-color: #cccccc;
}
.btn-default:disabled,
.dropdown-toggle.btn-default:disabled,
.btn-default.disabled,
.dropdown-toggle.btn-default.disabled,
.btn-default[disabled],
.dropdown-toggle.btn-default[disabled] {
background-color: #b3b3b3;
}
.btn-default .ink,
.dropdown-toggle.btn-default .ink {
background-color: #b8b8b8;
}
.btn-flat.btn-default {
color: #212121;
background-color: transparent;
}
.btn-flat.btn-default:hover {
color: #141414;
background-color: #e5e5e5;
}
.btn-flat.btn-default:active,
.btn-flat.btn-default.active {
color: #020202;
background-color: #cccccc;
}
.btn-flat.btn-default:focus {
color: #000;
background-color: #cccccc;
}
.btn-flat.btn-default .ink {
background-color: #808080;
}
.btn-primary,
.dropdown-toggle.btn-primary {
background-color: #5677fc;
}
.btn-primary:hover,
.dropdown-toggle.btn-primary:hover {
background-color: #4e6cef;
}
.btn-primary:active,
.dropdown-toggle.btn-primary:active,
.btn-primary.active,
.dropdown-toggle.btn-primary.active {
background-color: #4e6cef;
}
.btn-primary:focus,
.dropdown-toggle.btn-primary:focus {
background-color: #455ede;
}
.btn-primary:disabled,
.dropdown-toggle.btn-primary:disabled,
.btn-primary.disabled,
.dropdown-toggle.btn-primary.disabled,
.btn-primary[disabled],
.dropdown-toggle.btn-primary[disabled] {
background-color: #b3b3b3;
}
.btn-primary .ink,
.dropdown-toggle.btn-primary .ink {
background-color: #3b50ce;
}
.btn-flat.btn-primary {
color: #5677fc;
background-color: transparent;
}
.btn-flat.btn-primary:hover {
color: #4e6cef;
background-color: #e5e5e5;
}
.btn-flat.btn-primary:active,
.btn-flat.btn-primary.active {
color: #455ede;
background-color: #cccccc;
}
.btn-flat.btn-primary:focus {
color: #3b50ce;
background-color: #cccccc;
}
.btn-flat.btn-primary .ink {
background-color: #808080;
}
.btn-success,
.dropdown-toggle.btn-success {
background-color: #259b24;
}
.btn-success:hover,
.dropdown-toggle.btn-success:hover {
background-color: #0a8f08;
}
.btn-success:active,
.dropdown-toggle.btn-success:active,
.btn-success.active,
.dropdown-toggle.btn-success.active {
background-color: #0a8f08;
}
.btn-success:focus,
.dropdown-toggle.btn-success:focus {
background-color: #0a7e07;
}
.btn-success:disabled,
.dropdown-toggle.btn-success:disabled,
.btn-success.disabled,
.dropdown-toggle.btn-success.disabled,
.btn-success[disabled],
.dropdown-toggle.btn-success[disabled] {
background-color: #b3b3b3;
}
.btn-success .ink,
.dropdown-toggle.btn-success .ink {
background-color: #056f00;
}
.btn-flat.btn-success {
color: #259b24;
background-color: transparent;
}
.btn-flat.btn-success:hover {
color: #0a8f08;
background-color: #e5e5e5;
}
.btn-flat.btn-success:active,
.btn-flat.btn-success.active {
color: #0a7e07;
background-color: #cccccc;
}
.btn-flat.btn-success:focus {
color: #056f00;
background-color: #cccccc;
}
.btn-flat.btn-success .ink {
background-color: #808080;
}
.btn-info,
.dropdown-toggle.btn-info {
background-color: #03a9f4;
}
.btn-info:hover,
.dropdown-toggle.btn-info:hover {
background-color: #039be5;
}
.btn-info:active,
.dropdown-toggle.btn-info:active,
.btn-info.active,
.dropdown-toggle.btn-info.active {
background-color: #039be5;
}
.btn-info:focus,
.dropdown-toggle.btn-info:focus {
background-color: #0288d1;
}
.btn-info:disabled,
.dropdown-toggle.btn-info:disabled,
.btn-info.disabled,
.dropdown-toggle.btn-info.disabled,
.btn-info[disabled],
.dropdown-toggle.btn-info[disabled] {
background-color: #b3b3b3;
}
.btn-info .ink,
.dropdown-toggle.btn-info .ink {
background-color: #0277bd;
}
.btn-flat.btn-info {
color: #03a9f4;
background-color: transparent;
}
.btn-flat.btn-info:hover {
color: #039be5;
background-color: #e5e5e5;
}
.btn-flat.btn-info:active,
.btn-flat.btn-info.active {
color: #0288d1;
background-color: #cccccc;
}
.btn-flat.btn-info:focus {
color: #0277bd;
background-color: #cccccc;
}
.btn-flat.btn-info .ink {
background-color: #808080;
}
.btn-warning,
.dropdown-toggle.btn-warning {
background-color: #ffc107;
}
.btn-warning:hover,
.dropdown-toggle.btn-warning:hover {
background-color: #ffb300;
}
.btn-warning:active,
.dropdown-toggle.btn-warning:active,
.btn-warning.active,
.dropdown-toggle.btn-warning.active {
background-color: #ffb300;
}
.btn-warning:focus,
.dropdown-toggle.btn-warning:focus {
background-color: #ffa000;
}
.btn-warning:disabled,
.dropdown-toggle.btn-warning:disabled,
.btn-warning.disabled,
.dropdown-toggle.btn-warning.disabled,
.btn-warning[disabled],
.dropdown-toggle.btn-warning[disabled] {
background-color: #b3b3b3;
}
.btn-warning .ink,
.dropdown-toggle.btn-warning .ink {
background-color: #ff8f00;
}
.btn-flat.btn-warning {
color: #ffc107;
background-color: transparent;
}
.btn-flat.btn-warning:hover {
color: #ffb300;
background-color: #e5e5e5;
}
.btn-flat.btn-warning:active,
.btn-flat.btn-warning.active {
color: #ffa000;
background-color: #cccccc;
}
.btn-flat.btn-warning:focus {
color: #ff8f00;
background-color: #cccccc;
}
.btn-flat.btn-warning .ink {
background-color: #808080;
}
.btn-danger,
.dropdown-toggle.btn-danger {
background-color: #ff5722;
}
.btn-danger:hover,
.dropdown-toggle.btn-danger:hover {
background-color: #f4511e;
}
.btn-danger:active,
.dropdown-toggle.btn-danger:active,
.btn-danger.active,
.dropdown-toggle.btn-danger.active {
background-color: #f4511e;
}
.btn-danger:focus,
.dropdown-toggle.btn-danger:focus {
background-color: #e64a19;
}
.btn-danger:disabled,
.dropdown-toggle.btn-danger:disabled,
.btn-danger.disabled,
.dropdown-toggle.btn-danger.disabled,
.btn-danger[disabled],
.dropdown-toggle.btn-danger[disabled] {
background-color: #b3b3b3;
}
.btn-danger .ink,
.dropdown-toggle.btn-danger .ink {
background-color: #d84315;
}
.btn-flat.btn-danger {
color: #ff5722;
background-color: transparent;
}
.btn-flat.btn-danger:hover {
color: #f4511e;
background-color: #e5e5e5;
}
.btn-flat.btn-danger:active,
.btn-flat.btn-danger.active {
color: #e64a19;
background-color: #cccccc;
}
.btn-flat.btn-danger:focus {
color: #d84315;
background-color: #cccccc;
}
.btn-flat.btn-danger .ink {
background-color: #808080;
}
/* -- Buttons sizes -------------------------------- */
.btn {
min-width: 88px;
padding: 10px 14px;
}
.btn-lg,
.btn-group-lg > .btn {
min-width: 122px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.3;
}
.btn-sm,
.btn-group-sm > .btn {
min-width: 64px;
padding: 4px 12px;
font-size: 12px;
line-height: 1.5;
}
.btn-xs,
.btn-group-xs > .btn {
min-width: 46px;
padding: 2px 10px;
font-size: 10px;
line-height: 1.5;
}
.btn-circle {
width: 56px;
height: 56px;
min-width: 56px;
}
.btn-circle span {
line-height: 56px;
}
.btn-circle.btn-lg {
width: 78px;
height: 78px;
min-width: 78px;
}
.btn-circle.btn-lg span {
line-height: 78px;
}
.btn-circle.btn-sm {
width: 40px;
height: 40px;
min-width: 40px;
}
.btn-circle.btn-sm span {
line-height: 40px;
}
.btn-circle.btn-xs {
width: 30px;
height: 30px;
min-width: 30px;
}
.btn-circle.btn-xs span {
line-height: 30px;
}
/*-- Button groups --------------------------------- */
.btn-group .btn {
border-radius: 2px;
}
.btn-group.open .dropdown-toggle {
outline: 0;
outline-offset: 0;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
margin-left: 0;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
z-index: 0;
}
.btn-group > .btn:focus:hover,
.btn-group-vertical > .btn:focus:hover,
.btn-group > .btn:active:hover,
.btn-group-vertical > .btn:active:hover,
.btn-group > .btn.active:hover,
.btn-group-vertical > .btn.active:hover {
z-index: 2;
}
/* -- Ripple effect -------------------------------- */
.ripple-effect {
position: relative;
overflow: hidden;
-webkit-transform: translate3d(0, 0, 0);
}
.ink {
display: block;
position: absolute;
pointer-events: none;
border-radius: 50%;
-webkit-transform: scale(0);
-moz-transform: scale(0);
-ms-transform: scale(0);
-o-transform: scale(0);
transform: scale(0);
background: #fff;
opacity: 1;
}
.ink.animate {
-webkit-animation: ripple .5s linear;
-moz-animation: ripple .5s linear;
-ms-animation: ripple .5s linear;
-o-animation: ripple .5s linear;
animation: ripple .5s linear;
}
@keyframes ripple {
100% {
	opacity: 0;
	transform: scale(2.5);
}
}
@-webkit-keyframes ripple {
100% {
	opacity: 0;
	-webkit-transform: scale(2.5);
	transform: scale(2.5);
}
}
@-moz-keyframes ripple {
100% {
	opacity: 0;
	-moz-transform: scale(2.5);
	transform: scale(2.5);
}
}
@-ms-keyframes ripple {
100% {
	opacity: 0;
	-ms-transform: scale(2.5);
	transform: scale(2.5);
}
}
@-o-keyframes ripple {
100% {
	opacity: 0;
	-o-transform: scale(2.5);
	transform: scale(2.5);
}
}
.form-group {
position: relative;
margin-top: 35px;
margin-bottom: 20px;
font-family: " Arial"!important;
font-size: 16px;
letter-spacing: 1px;


}
.input-group {
position: relative;
}
.form-control {
border-bottom: 0.5px solid #757575 !important;
display: block;
height: 36px;
width: 100%;
border: none;
border-radius: 0 !important;
font-size: 16px;
font-weight: 300;
padding: 0;
background-color: transparent;
box-shadow: none;
/* border-bottom: 1px solid #757575; */
}
.input-group .form-control {
position: relative;
z-index: inherit;
float: inherit;
width: 100%;
margin-bottom: 0;
}
.form-control:focus {
border-color: #757575;
outline: none;
box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
position: absolute;
top: 0px;
left: 20px;
color: #999;
font-size: 12px;
font-weight: 300;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
position: relative;
top: 0;
margin-bottom: 0;
}
@media (min-width: 768px) {
.form-horizontal .control-label {
	font-size: 16px;
}
}
.float-label {
left: 0;
top: 7px;
font-size: 16px;
pointer-events: none;
}
/* active state */
.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
top: -18px;
font-size: 12px;
}
/* input colors ---- */
.form-control:focus ~ label {
/* color: #03a9f4; */
}
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
/* background: #03a9f4;s */
}
/* help-block */
.form-group .help-block {
position: absolute;
}
.help-block {
color: #bdbdbd;
font-size: 12px;
font-weight: 300;
}
/* input addon ---*/
.input-group-addon {
border: none;
background: transparent;
}
/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
display: table-cell;
}
.input-group-addon,
.input-group-btn {
width: inherit;
}
.input-group {
width: 100%;
}
@media (min-width: 768px) {
.form-inline .form-group {
	margin-top: 16px;
}
.input-group-btn,
.input-group .form-control,
.input-group-addon,
.form-inline .input-group {
	display: inline-block;
}
.input-group {
	width: auto;
}
}
/* -- bar styles -------------------------------------- */
.form-bar {
position: relative;
display: block;
width: 100%;
}
.form-bar:before,
.form-bar:after {
content: '';
height: 1px;
width: 0;
bottom: 0;
position: absolute;
transition: 0.3s ease all;
-moz-transition: 0.3s ease all;
-webkit-transition: 0.3s ease all;
}
.form-bar:before {
left: 50%;
}
.form-bar:after {
right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
position: absolute;
height: 60%;
width: 60px;
top: 25%;
left: 0;
pointer-events: none;
opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
-webkit-animation: inputHighlighter 0.3s ease;
-moz-animation: inputHighlighter 0.3s ease;
animation: inputHighlighter 0.3s ease;
}
/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
from {
	background: #5264AE;
}
to {
	width: 0;
	background: transparent;
}
}
@-moz-keyframes inputHighlighter {
from {
	background: #5264AE;
}
to {
	width: 0;
	background: transparent;
}
}
@keyframes inputHighlighter {
from {
	background: #5264AE;
}
to {
	width: 0;
	background: transparent;
}
}
/*-- Checkbox --------------------------- */
/* 
* Core styles required for the checkboxes.
* @author Jason Mayes 2014, www.jasonmayes.com
*/
.form-group.checkbox {
margin-top: 20px;
}
.checkbox input[type='checkbox'] {
height: 0;
width: 0;
opacity: 0;
}
.checkbox label {
font-size: 14px;
font-weight: 300;
line-height: 1;
display: inline-block;
overflow: hidden;
position: relative;
top: 10px;
padding-left: 0;
}
.checkbox .chk-span {
top: 0;
border: 1px solid #5a5a5a;
color: #1d1d1d;
cursor: pointer;
display: inline-block;
float: left;
height: 14px;
margin: 0 14px 14px 1px;
outline-color: #eaeaea;
padding: 0;
position: relative;
width: 14px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
z-index: 1;
}
.checkbox .chk-span.checked {
top: -2px;
border-left: 2px solid #03a9f4;
border-bottom: 4px solid #03a9f4;
border-top: 1px solid rgba(0, 0, 0, 0);
border-right: 1px solid rgba(0, 0, 0, 0);
-webkit-transform: rotate(-45deg) scaleY(0.5);
-moz-transform: rotate(-45deg) scaleY(0.5);
-ms-transform: rotate(-45deg) scaleY(0.5);
-o-transform: rotate(-45deg) scaleY(0.5);
transform: rotate(-45deg) scaleY(0.5);
}
.checkbox .chk-span.checked {
border-left-color: #03a9f4;
border-bottom-color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label {
/* color: #03a9f4; */
}
.checkbox input[type='checkbox']:focus ~ label .chk-span {
/* border-color: #03a9f4; */
}
.checkbox input[type='checkbox']:focus ~ label .chk-span.checked {
border-left-color: #03a9f4;
/* border-bottom-color: #03a9f4; */
/* border-top: 1px solid rgba(0, 0, 0, 0); */
/* border-right: 1px solid rgba(0, 0, 0, 0); */
}
@media (min-width: 768px) {
.form-inline .radio label,
.form-inline .checkbox label {
	padding-left: 5px;
}
}
.form-control-static {
font-size: 16px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
background-color: transparent;
border-bottom-style: dashed;
}
#focusedInput {
border-color: #ccc;
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
box-shadow: none;
}
/* -- import Bootstrap v3 ----------------------------- */
/* -- import Roboto Font ------------------------------ */
/* -- body styles ------------------------------------- */
body {
font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
background: #0277bd;
}
/* -- button styles ------------------------------------- */
/*-- signin-card animation ---------------------------------------- */
.signin-card {
-webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
animation: cardEnter 0.75s ease-in-out 0.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
opacity: 0;
}
/* -- login paper styles ------------------------------ */
.signin-card {
min-height: 270px;
max-width: 350px;
border-radius: 2px;
margin: 20px auto;
padding: 20px;
background-color: white;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.signin-card .logo-image,
.signin-card h1,
.signin-card p {
text-align: center;
}
/* -- font styles ------------------------------------- */
.display1 {
font-size: 28px;
font-weight: 100;
line-height: 1.2;
color: #757575;
text-transform: inherit;
letter-spacing: inherit;
}
.subhead {
font-size: 16px;
font-weight: 300;
line-height: 1.1;
color: #212121;
text-transform: inherit;
letter-spacing: inherit;
}
/* card animation from Animate.css -------------------- */
@-webkit-keyframes cardEnter {
0%,
20%,
40%,
60%,
80%,
100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	-ms-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
}
20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	-ms-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	-ms-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
}
60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-ms-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
}
80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	-ms-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
}
100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
}
@keyframes cardEnter {
0%,
20%,
40%,
60%,
80%,
100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	-ms-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
}
20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	-ms-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	-ms-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
}
60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-ms-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
}
80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	-ms-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
}
100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
}