<div class="header" style="background-image:url('assets/img/hab.jpg');width:100%;height:662px">
  <img class="text-left" style="margin-left:2%;" src="">
    <div class="container">
       <h1 class="display1 text-center" style="color: white;margin-top:3%;margin-right: 23%;font-size:30px">Forgot</h1>
       <p class="subhead  text-center" style="color: white;letter-spacing: 1px;margin-right: 14.1%;font-size:13px;">Enter your details to Reset</p>
        <div id="login" class="signin-card">
            <form>
                <div id="form-login-username" class="form-group">
                    <input id="username" class="form-control" required autofocus [(ngModel)]="email" name="email" #name="ngModel" type="text" size="18" alt="login" />
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label" style=" color: #454545;">Email</label>
                </div>
                <div>
                    <button class="btn btn-block btn-info" name="Submit" alt="sign in" (click)="forgot()" style="margin-top: 15%;    height: 48px;font-size: 16px;color:white;background-color:#ee3b3c">RESET</button>
                </div>
            </form>
        </div>
    </div>
</div>