<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Inline Layout -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="col">
    <div class="card">
        <div class="body">
          <form>
              <div class="row clearfix">
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                    <label for="email_address_2">Start Date</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                    <div class="form-line">
                      <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                    <label for="email_address_2">End Date</label>
                </div>
                <div class="ol-lg-4 col-md-4 col-sm-4 col-xs-8">
                    <div class="form-line">
                      <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-24px;text-align: center">Search</button>
                </div>
              </div>
          </form>
        </div>
    </div>
  </div>
  <!-- #END# Inline Layout -->
  <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
         <div class="header">
            <h2>
               Inventory
               <!-- <span>
               <input type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px">
               </span>
               <span>
               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
               <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
               <span class="inner-span">Buyer Ledger</span>
               </button>
               </span>
               <span>
               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
               <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
               <span class="inner-span">Seller Ledger</span>
               </button>
               </span> -->
               <!--
                  <span>
                       <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                         <i class="fa fa-plus" style="position: relative;right: 5px;"></i>
                         <span class="inner-span">New</span>
                       </button>
                     </span> 
                    <span>
                             <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                               <i class="fa fa-add" style="position: relative;right: 5px;"></i>
                               <span class="inner-span">Make Transfer</span>
                             </button>
                           </span>
                  
                            <span>
                           <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                             <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                             <span class="inner-span">Edit</span>
                           </button>
                         </span>
                  
                          <span>
                           <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                             <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                             <span class="inner-span">Open Transfer</span>
                           </button>
                         </span>
                  
                         
                           
                           <span>
                               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                 <i class="fa fa-trash" style="position: relative;right: 5px;"></i>
                                 <span class="inner-span">Delete</span>
                               </button>
                             </span>
                  
                  
                  
                     <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                       <i class="fa fa-check" style="position: relative;right: 5px;"></i>
                       <span class="inner-span">Approve</span>
                     </button>
                   </span>
                  
                       <span>
                                 <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                   <i class="fa fa-camera" style="position: relative;right: 5px;"></i>
                                   <span class="inner-span">Pics</span>
                                 </button>
                               </span>
                               <span>
                                   <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                     <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                                     <span class="inner-span">Clear</span>
                                   </button>
                                 </span>
                                 <span>
                                     <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                       <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                       <span class="inner-span">Reload</span>
                                     </button>
                                   </span>
                                   <span>
                                       <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                         <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                         <span class="inner-span">Load All</span>
                                       </button>
                                     </span> -->
            </h2>
         </div>
         <div class="body">
            <div class="table-responsive">
               <table class="table table-hover dashboard-task-infos">
                  <thead>
                     <!-- <tr></tr>
                     <tr>
                       <td>Incomplete payments</td>
                       <td>0</td>
                       <td>Received Payments</td>
                       <td>0</td>
                     </tr> -->
                     <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                     </tr>
                     <tr>
                        <th>Pay Id</th>
                        <th>Complete</th>
                        <th>From Account</th>
                        <th>To Account</th>
                        <th>Amount Received</th>
                        <th>Amount Transferred</th>
                        <th>Currency</th>
                        <th>Invoice Ref</th>
                        <th>Receiver</th>
                        <th>Sender Address</th>
                        <th>Reference</th>
                        <th>Client Comments</th>
                        <th>Hael Comments</th>
                        <th>Updated By</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Created At</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                  </tbody>
               </table>
            </div>
            <div class="dropdown">
               <span>Results per page</span>
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
               <span class="caret"></span></button>
               <ul class="dropdown-menu">
                  <li><a href="#">10</a></li>
                  <li><a href="#">25</a></li>
                  <li><a href="#">50</a></li>
                  <li><a href="#">100</a></li>
                  <li><a href="#">All</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <!-- #END# table card -->
</section>