.table tbody tr td, .table tbody tr th {
    padding: 8px 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
}
.modal-title{
    font-size: 24px !important;
    font-weight: normal;
}
h3{
    font-weight: normal !important;
    color: #58666e;
}
.close{
    position: relative;
    left: 10px;
}
.table tr.highlighted td {
    background-color:#596569 !important;
    color: white !important;
}
#btn{
    color: #ffffff !important;
    background-color: #596569;
    border-color: #596569;
    box-shadow: none;
}
#table{
    right: 10%;
    width: 110%;
    margin-top:20% 
}
#col{
    right: 12%;
    width: 113%;
}