<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Inline Layout -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="col">
    <div class="card">
        <div class="body">
          <form>
              <div class="row clearfix">
                <div class="col-sm-4">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 form-control-label">
                        <label for="email_address_2">Start Date</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="form-line" >
                        <ng-datepicker [(ngModel)]="startDate" name="startDate"></ng-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8 form-control-label">
                        <label for="email_address_2">End Date</label>
                    </div>
                    <div class="ol-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="form-line">
                        <ng-datepicker  [(ngModel)]="endDate" name="endDate"></ng-datepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <button (click)="getBetweenPics()" type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-24px;text-align: center">Search</button>
                    </div>
                </div>
              </div>
          </form>
        </div>
    </div>
  </div>
  <!-- #END# Inline Layout -->
   <!-- Table card -->
   <div class="row clearfix" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="table">
            <div class="card">
                <div class="header">
                    <h2>Order Pics</h2>
                </div>
                <div class="body table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>OrderId</th>
                                <th>Client</th>
                                <th>Client OrderId</th>
                                <th>Tracking</th>
                                <th>Account</th>
                                <th>Action</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngIf="nodata==null && picsRes==0">This table has no data</tr>
                            <!-- <tr *ngFor="let res of picsRes"  (click)="selectRow($event, res)" [class.highlighted]="res.orderId === orderId"> -->
                            <tr *ngFor="let res of picsRes">
                            <td ><button  class="btn" id="btn" (click)="showImg(res.s3Url,res.orderId,res.client)" data-toggle="modal" data-target="#myModal">Pics</button></td>
                            <td>{{res.orderId}}</td>
                            <td>{{res.client}}</td>
                            <td>
                                {{res.clientOrderId}}
                                <tr>({{res.orderRef}})</tr>
                            </td>
                            <td>{{res.trackId}}</td>
                            <td>{{res.account}}</td>
                            <td>{{res.action}}</td>
                            <td>{{res.createdAt}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
   <!-- #END# table card -->
   <!-- Modal card start here -->
    <div class="modal fade" id="myModal" role="dialog" *ngIf="show == true" >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Picture for Order:{{orderId}},client:{{Client}}</h3>
          </div>
          <div class="modal-body">
            <img  alt="" class="img-responsive" src={{image}} />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
   <!-- Modal Card ends here -->
</section>