<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
    <!-- Table card -->
   <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
         <div class="header">
            <p>
               Orders On Hold(Select an order and click process order button to process the order)
            </p>
         </div>
         <div class="body">
            <div class="table-responsive">
               <table class="table table-hover dashboard-task-infos">
                  <thead>
                     <tr></tr>
                     <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                     </tr>
                     <tr>
                        <th>Address</th>
                        <th>ClientId</th>
                        <th>OrderId</th>
                        <th>Hold</th>
                        <th>Items</th>
                        <th>Quantity</th>
                        <th>Prices</th>
                        <th>Total</th>
                        <th>Tracking</th>
                        <th>Ok</th>
                        <th>Packed</th>
                        <th>Trackable</th>
                        <th>ClientNotes</th>
                        <th>Est Weight</th>
                        <th>Weight</th>
                        <th>Prescription</th>
                        <th>Indian Presc</th>
                        <th>Invoice</th>
                        <th>InvValue</th>
                        <th>DeclareAs</th>
                        <th>Country</th>
                        <th>EditedBy</th>
                        <th>CreatedBy</th>
                        <th>DateOrdered</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- #END# table card -->
</section>