<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
    <!-- Table card -->
   <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
        <div class="card">
           <div class="header">
              <h2>
                 sPrice Import
                 <span>
                 <input type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px">
                 </span>
              </h2>
           </div>
           <div class="body">
              <div class="table-responsive">
                 <table class="table table-hover dashboard-task-infos">
                    <thead>
                       <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                       </tr>
                       <tr>
                          <th>Item Name</th>
                          <th>Account</th>
                          <th>Exception</th>
                          <th>Price</th>
                          <th>Currency</th>
                          <th>Export Price</th>
                          <th>MinItemMargin</th>
                          <th>ClientMarginPercentage</th>
                          <th>MinClientMargin</th>
                       </tr>
                    </thead>
                    <tbody *ngFor="let res of priceRes" >
                       <tr>
                          <td>{{  res.itemName }}</td>
                          <td>{{  res.account  }}</td>
                          <td>{{  res.exception  }}</td>
                          <td>-</td>
                          <td>{{  res.ccy }}</td>
                          <td>{{  res.exportPx  }}</td>
                          <td>{{  res.minItemMargin }}</td>
                          <td>{{  res.marginPercent }}</td>
                          <td>{{ res.minClientMargin  }}</td>
                       </tr>
                    </tbody>
                 </table>
              </div>
              <!-- <div class="dropdown">
                 <span>Results per page</span>
                 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                 <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                    <li><a href="#">10</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">All</a></li>
                 </ul>
              </div> -->
           </div>
        </div>
     </div>
     <!-- #END# table card -->
</section>