<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
    
<!-- Horizontal Layout -->

      <div class="card">
          <div class="header">
              <h2>
                  Upload Hot Items
              </h2>
              <!-- <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);">Action</a></li>
                          <li><a href="javascript:void(0);">Another action</a></li>
                          <li><a href="javascript:void(0);">Something else here</a></li>
                      </ul> 
                  </li>
              </ul>-->
          </div>
          <div class="body">
            <form class="form-horizontal" >
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="email_address_2">Item Name</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line" >
                              <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                            </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="email_address_2">Comments</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line">
                                  <textarea name="comment" form="usrform" placeholder="Batch Number,etc..."></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label id="labs" for="password_2">Upload Pics</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line">
                              <input  type="text" id="left"  class="form-control" placeholder="Hepcinat 28s">
                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label id="labs" for="password_2">Upload Pics</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line">
                              <input  type="text" id="left"  class="form-control">
                              <button type="button" class="cbtn" style="position: relative;top: -30px;left: 12px;width:110px" >Choose Files</button>
                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                          <button type="button" class="btn btn-primary m-t-15 waves-effect" id="btns" style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;width: 170px;height: 40px;left:-60px;top: -22px;">Submit</button>
                      </div>
                  </div>
              </form> 
          </div>
      </div>





<!-- #END# Horizontal Layout -->
<!-- Inline Layout -->
    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
        <div class="card">
            <div class="header">
                <h2>
                    Hot Items
                </h2>
                <!-- <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul> -->
            </div>
            <div class="body">
                <form>
                    <div class="row clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                            <label id="lab" for="email_address_2">Item</label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                            <div class="form-line">
                                <input id="width" type="text"   class="form-control" placeholder="Hepcinat 28s">
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                            <label id="lab" for="email_address_2">Date</label>
                        </div>
                        <div class="ol-lg-4 col-md-4 col-sm-4 col-xs-8">
                                <div class="form-line">
                                <input id="width" type="text"   class="form-control" placeholder="Hepcinat 28s">
                                </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-12px;text-align: center">View Pics</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- </div> -->
<!-- #END# Inline Layout -->
<div class="container-fluid">
    <!-- Image Gallery -->
    <div class="row">
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
            <div class="card">
                <div class="header">
                    <h2>
                        GALLERY
                    </h2>
                    <!-- <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul> -->
                </div>
                <div class="body">
                    <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                        <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a  data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-1.jpg">
                                <div class="j">
                                    <div class="text"><i id="fa-pencil" class="fa fa-pencil" aria-hidden="true"><span id="edit" [routerLink]="['/editHotItems']">Edit</span></i></div>
                                  </div>
                                  <div class="u">
                                    <div class="text"><i id="fa-pencil" class="fa fa-trash-o" aria-hidden="true"><span id="edit">Delete</span></i></div>                                      
                                  </div>
                            </a>
                        </div> -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/2.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-2.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/3.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-3.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/4.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-4.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/5.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-5.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 6.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-6.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 7.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-7.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 8.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-8.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 9.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-9.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 10.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-10.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 11.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-11.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 12.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-12.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 13.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-13.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 14.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-14.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 15.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-15.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 16.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-16.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 17.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-17.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 18.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-18.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 19.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-19.jpg">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <a href="assets/images/ 20.jpg" data-sub-html="Demo Description">
                                <img class="img-responsive thumbnail" src="assets/images/thumb-20.jpg">
                            </a>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary m-t-15 waves-effect" id="btns" style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 170px;height: 40px;">Load More</button>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->
</section>