
/* -- import Bootstrap v3 ----------------------------- */
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
/* -- import Bootstrap docs ---------------------------- */
@import "//getbootstrap.com/assets/css/docs.min.css";
/* -- import Roboto Font ------------------------------ */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/*-- Body style ---------------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
body {
font-family: open sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 1.4;
color: #212121;
overflow-x: hidden;
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
.header{
	height: 662px;
	width: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(to bottom right, #6c203c , #ee3b3c , #d0663d ) !important	;
}
#btn{
	margin-top: 15%; 
	height: 48px;
	font-size: 16px;
	color:white;
	background-color:#ee3b3c !important;
    text-align: center;
}
.username{
	position: relative !important;
	left: 0 !important;
}
#label{
	font-size:16px;
	letter-spacing: 1px;
	color:#454545
}
#float-label{
	color: #454545
}
#h1{
	color: white;margin-top:3%;margin-right: 23%;font-size:30px
}
#p{
	color: white;letter-spacing: 1px;margin-right: 14.1%;font-size:13px;
}
#label-user{
	color:#454545
}
img{
	margin-left:2%;
}
/* -- Buttons types -------------------------------- */
.ink.animate {
-webkit-animation: ripple .5s linear;
-moz-animation: ripple .5s linear;
-ms-animation: ripple .5s linear;
-o-animation: ripple .5s linear;
animation: ripple .5s linear;
}
@keyframes ripple {
100% {
	opacity: 0;
	transform: scale(2.5);
}
}
@-webkit-keyframes ripple {
100% {
	opacity: 0;
	-webkit-transform: scale(2.5);
	transform: scale(2.5);
}
}
@-moz-keyframes ripple {
100% {
	opacity: 0;
	-moz-transform: scale(2.5);
	transform: scale(2.5);
}
}
@-ms-keyframes ripple {
100% {
	opacity: 0;
	-ms-transform: scale(2.5);
	transform: scale(2.5);
}
}
@-o-keyframes ripple {
100% {
	opacity: 0;
	-o-transform: scale(2.5);
	transform: scale(2.5);
}
}
.form-group {
position: relative;
margin-top: 35px;
margin-bottom: 20px;
font-family: " Arial"!important;
font-size: 16px;
letter-spacing: 1px;
}
.input-group {
position: relative;
}
.form-control {
border-bottom: 0.5px solid #757575 !important;
display: block;
height: 36px;
width: 100%;
border: none;
border-radius: 0 !important;
font-size: 16px;
font-weight: 300;
padding: 0;
background-color: transparent;
box-shadow: none;
/* border-bottom: 1px solid #757575; */
}
.input-group .form-control {
position: relative;
z-index: inherit;
float: inherit;
width: 100%;
margin-bottom: 0;
}
.form-control:focus {
border-color: #757575;
outline: none;
box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
position: absolute;
top: 0px;
left: 20px;
color: #999;
font-size: 12px;
font-weight: 300;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
position: relative;
top: 0;
margin-bottom: 0;
}
@media (min-width: 768px) {
.form-horizontal .control-label {
	font-size: 16px;
}
}
.float-label {
left: 0;
top: 7px;
font-size: 16px;
pointer-events: none;
}
/* active state */
.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
top: -18px;
font-size: 12px;
}
/* help-block */
.form-group .help-block {
position: absolute;
}
.help-block {
color: #bdbdbd;
font-size: 12px;
font-weight: 300;
}
/* input addon ---*/
.input-group-addon {
border: none;
background: transparent;
}
/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
display: table-cell;
}
.input-group-addon,
.input-group-btn {
width: inherit;
}
.input-group {
width: 100%;
}
@media (min-width: 768px) {
.form-inline .form-group {
	margin-top: 16px;
}
.input-group-btn,
.input-group .form-control,
.input-group-addon,
.form-inline .input-group {
	display: inline-block;
}
.input-group {
	width: auto;
}
}
/* -- bar styles -------------------------------------- */
.form-bar {
position: relative;
display: block;
width: 100%;
}
.form-bar:before,
.form-bar:after {
content: '';
height: 1px;
width: 0;
bottom: 0;
position: absolute;
transition: 0.3s ease all;
-moz-transition: 0.3s ease all;
-webkit-transition: 0.3s ease all;
}
.form-bar:before {
left: 50%;
}
.form-bar:after {
right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
position: absolute;
height: 60%;
width: 60px;
top: 25%;
left: 0;
pointer-events: none;
opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
-webkit-animation: inputHighlighter 0.3s ease;
-moz-animation: inputHighlighter 0.3s ease;
animation: inputHighlighter 0.3s ease;
}
/*-- Checkbox --------------------------- */
/* 
* Core styles required for the checkboxes.
* @author Jason Mayes 2014, www.jasonmayes.com
*/
.form-group.checkbox {
margin-top: 20px;
}
.checkbox input[type='checkbox'] {
height: 0;
width: 0;
opacity: 0;
}
.checkbox label {
font-size: 14px;
font-weight: 300;
line-height: 1;
display: inline-block;
overflow: hidden;
position: relative;
top: 10px;
padding-left: 0;
}
.checkbox .chk-span {
top: 0;
border: 1px solid #5a5a5a;
color: #1d1d1d;
cursor: pointer;
display: inline-block;
float: left;
height: 14px;
margin: 0 14px 14px 1px;
outline-color: #eaeaea;
padding: 0;
position: relative;
width: 14px;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
z-index: 1;
}
.checkbox .chk-span.checked {
top: -2px;
border-left: 2px solid #03a9f4;
border-bottom: 4px solid #03a9f4;
border-top: 1px solid rgba(0, 0, 0, 0);
border-right: 1px solid rgba(0, 0, 0, 0);
-webkit-transform: rotate(-45deg) scaleY(0.5);
-moz-transform: rotate(-45deg) scaleY(0.5);
-ms-transform: rotate(-45deg) scaleY(0.5);
-o-transform: rotate(-45deg) scaleY(0.5);
transform: rotate(-45deg) scaleY(0.5);
}
.checkbox .chk-span.checked {
border-left-color: #03a9f4;
border-bottom-color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label .chk-span.checked {
border-left-color: #03a9f4;
}
@media (min-width: 768px) {
.form-inline .radio label,
.form-inline .checkbox label {
	padding-left: 5px;
}
}
.form-control-static {
font-size: 16px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
background-color: transparent;
border-bottom-style: dashed;
}
#focusedInput {
border-color: #ccc;
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
box-shadow: none;
}
/* -- import Bootstrap v3 ----------------------------- */
/* -- import Roboto Font ------------------------------ */
/*-- signin-card animation ---------------------------------------- */
.signin-card {
-webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
animation: cardEnter 0.75s ease-in-out 0.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
opacity: 0;
}
/* -- login paper styles ------------------------------ */
.signin-card {
min-height: 385px;
max-width: 350px;
border-radius: 2px;
margin: 20px auto;
padding: 20px;
background-color: white;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.signin-card .logo-image,
.signin-card h1,
.signin-card p {
text-align: center;
}
/* -- font styles ------------------------------------- */
.display1 {
font-size: 28px;
font-weight: 100;
line-height: 1.2;
color: #757575;
text-transform: inherit;
letter-spacing: inherit;
}
.subhead {
font-size: 16px;
font-weight: 300;
line-height: 1.1;
color: #212121;
text-transform: inherit;
letter-spacing: inherit;
}
/* card animation from Animate.css -------------------- */
@-webkit-keyframes cardEnter {
0%,
20%,
40%,
60%,
80%,
100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	-ms-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
}
20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	-ms-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	-ms-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
}
60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-ms-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
}
80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	-ms-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
}
100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
}
@keyframes cardEnter {
0%,
20%,
40%,
60%,
80%,
100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
0% {
	opacity: 0;
	-webkit-transform: scale3d(0.3, 0.3, 0.3);
	-ms-transform: scale3d(0.3, 0.3, 0.3);
	transform: scale3d(0.3, 0.3, 0.3);
}
20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	-ms-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}
40% {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	-ms-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
}
60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	-ms-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
}
80% {
	-webkit-transform: scale3d(0.97, 0.97, 0.97);
	-ms-transform: scale3d(0.97, 0.97, 0.97);
	transform: scale3d(0.97, 0.97, 0.97);
}
100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
}