<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="active">
                    <a [routerLink]="['/hotItems']">
                    <i class="fa fa-medkit text-success ico"></i>
                    <span class="tx">Hot Items</span>
                    </a>
                </li>
                <li class="header">Admin</li>
                <li>
                    <a [routerLink]="['/accounts']" >
                    <i class="fa fa-dollar text-success ico"></i>
                    <span class="tx">All Accounts</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/inventory']">
                    <i class="fa fa-book text-success ico"></i>
                    <span class="tx">Inventory</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/trades']">
                    <i class="fa fa-book text-success ico"></i>                     
                    <span class="tx">Trades</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/transfer']">
                    <i class="fa fa-rupee text-success ico"></i>
                    <span class="tx">Transfers</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/orders']">
                    <i class="material-icons left">add_shopping_cart</i>
                    <span>Orders</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/uploadOrders']">
                    <i class="material-icons left">cloud_upload</i>
                    <span>Upload Orders</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/payments']">
                    <i class="material-icons left">credit_card</i>
                    <span>Payments</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/invoices']">
                    <i class="material-icons left">insert_drive_file</i>
                    <span>Invoices</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons left">shopping_cart</i>
                    <span>Pricing</span>
                    </a>
                    <ul class="ml-menu">
                    <li>
                        <a [routerLink]="['/orders']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Item Pricing</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/clientPricing']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Client Pricing</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Price Exceptions</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/orders']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">sPriceImport</span>
                        </a>
                    </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                    <i class="fa fa-database icon text-success ico"></i>
                    <span class="tx">S3 Logs</span>
                    </a>
                    <ul class="ml-menu">
                    <li>
                        <a [routerLink]="['/orderPics']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Order Pics</span>
                        </a>
                    </li>
                    <li>
                        <a  [routerLink]="['/ultimatePics']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Ultimate Pics</span>
                        </a>
                    </li>
                    </ul>
                </li>
                <li>
                    <a [routerLink]="['/userBalances']">
                    <i class="fa fa-rupee text-success ico"></i>
                    <span class="tx">User Ledger</span>
                    </a>
                </li>
                <li>
                    <a  [routerLink]="['/medicines']">
                    <i class="fa fa-medkit text-success ico"></i>
                    <span class="tx">Medicines</span>
                    </a>
                </li>
                <li class="header">Manager</li>
                <li>
                <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons left">shopping_cart</i>
                <span>Products</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a >
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Medicines</span>
                        </a>
                    </li>
                </ul>
                <li class="header">Clients</li>
                <li>
                <a >
                <i class="icon-user icon text-success-lter ico"></i>
                <span class="tx">User</span>
                </a>
                </li>
                <li>
                <a [routerLink]="['/productGallery']">
                <i class="fa fa-medkit text-success-lter ico"></i>
                <span class="tx">Product Gallery</span>
                </a>
                </li>
                <li>
                <a  [routerLink]="['/clientInventory']">
                <i class="fa fa-book text-success ico"></i>
                <span class="tx">Inventory</span>
                </a>
                </li>
                <li>
                <a [routerLink]="['/']" class="menu-toggle">
                <i class="material-icons left">add_shopping_cart</i>
                <span>Orders</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a [routerLink]="['/orders/new']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">New Order</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/editOrders']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Edit Order</span>
                        </a>
                    </li>
                    <li>
                    <a [routerLink]="['/transitOrders']">
                    <i class="material-icons left">layers</i>
                    <span class="txlf">Transit Order</span>
                    </a>
                    </li>
                    <li>
                    <a [routerLink]="['/holdOrders']">
                    <i class="material-icons left">layers</i>
                    <span class="txlf">Order On Hold</span>
                    </a>
                    </li>
                    <li>
                    <a [routerLink]="['/allOrders']">
                    <i class="material-icons left">layers</i>
                    <span class="txlf">All Order</span>
                    </a>
                    </li>
                </ul>
                <li>
                    <a  [routerLink]="['/allTrades']">
                    <i class="material-icons left">shopping_cart</i>
                    <span class="txlf">Trades</span>
                    </a>
                    </li>
                    <li>
                    <a [routerLink]="['/allTransfers']">
                    <i aria-hidden="true" class="fa fa-inr ico"></i>
                    <span class="tx">Transfers</span>
                    </a>
                    </li>
                    <li>
                    <a [routerLink]="['/']" class="menu-toggle">
                    <i class="material-icons left">add_shopping_cart</i>
                    <span>Invoices</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a [routerLink]="['/newInvoice']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">New Invoices</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/allInvoices']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">All Invoices</span>
                            </a>
                        </li>
                    </ul>
                    <li>
                        <a [routerLink]="['/']"  class="menu-toggle">
                        <i class="fa fa-rupee text-success ico"></i>
                        <span class="tx">Payments</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a [routerLink]="['/clientBilling']">
                                <i class="material-icons left">layers</i>
                                <span class="txlf">Billing</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/clientLedger']">
                                <i class="material-icons left">layers</i>
                                <span class="txlf">Ledger</span>
                                </a>
                            </li>
                            <li>
                            <a [routerLink]="['/newPayment']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">Add Payment</span>
                            </a>
                            </li>
                            <li>
                            <a  [routerLink]="['/allPayments']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">All Payment</span>
                            </a>
                            </li>
                        </ul>
                        <li class="header">Staff</li>
                        <li>
                            <a  [routerLink]="['/orderInventory']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">Inventory</span>
                            </a>
                        </li>
                        <li>
                            <a  [routerLink]="['/orderProcessing']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">Process Orders</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/trackProcessing']">
                            <i class="material-icons left">layers</i>
                            <span class="txlf">Track Processing</span>
                            </a>
                        </li>
                        <li>
                        <a [routerLink]="['/uploadOrderPics']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Upload Order Pics</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/verifyOrders']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Verify Orders</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/staff/productGallery']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Medicines</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/staff/trades']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Trades</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/saff/transits']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Transit Stock</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/saff/tranfers']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Transfers</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/staff/ledger']">
                        <i class="material-icons left">credit_card</i>
                        <span class="txlf">Balance</span>
                        </a>
                        </li>
                        <li>
                        <a [routerLink]="['/markTrackingUsed']">
                        <i class="material-icons left">layers</i>
                        <span class="txlf">Mark Tracking Used</span>
                        </a>
                        </li>
                        <li class="header"></li>
                        <li>
                        <a (click)="logout()">
                        <i class="icon-logout icon text-success-lter ico"></i>
                        <span class="tx">Logout</span>
                        </a>
                        </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
            </div>
            <div class="version">
            </div>
        </div>
        <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                <ul class="demo-choose-skin">
                    <li>
                    <span>Change Password</span>
                    </li>
                    <li  (click)="logout()">
                    <span>Logout</span>
                    </li>
                </ul>
            </div>
        </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>