<div class="header">
  <img class="text-left">
  <div class="container">
      <h1 class="display1 text-center" id="h1">Reset</h1>
      <p class="subhead  text-center" id="p">Enter your details to Reset</p>
      <div id="login" class="signin-card">
          <form >
              <div id="form-login-username" class="form-group">
                  <input id="username" class="form-control" required autofocus [(ngModel)]="email" name="userName" #name="ngModel" name="username" type="text" size="18" alt="login" />
                  <span class="form-highlight"></span>
                  <span class="form-bar"></span>
                  <label for="username" class="float-label" id="float-label">Email</label>
              </div>
              <div id="form-login-password" class="form-group">
                  <input id="passwd" class="form-control username" required [(ngModel)]="password" name="password" #name="ngModel" type="password" size="18" alt="password" required>
                  <span class="form-highlight"></span>
                  <span class="form-bar"></span>
                  <label for="password" class="float-label" id="label">Password</label>
              </div>
              <div>
                  <button class="btn btn-block btn-info" id="btn" name="Submit" (click)="reset()" alt="sign in">RESET</button>
              </div>
          </form>
      </div>
  </div>
</div>