<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
       <div class="navbar-header">
          <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
          <a href="javascript:void(0);" class="bars"></a>
          <a class="navbar-brand" [routerLink]="['/dashboard']"><img src="assets/images/sharp_logo.png"></a>
       </div>
       <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
             <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i id="top" class="material-icons left">more_vert</i></a></li>
          </ul>
       </div>
    </div>
 </nav>
<!-- #Top Bar -->