<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
<!-- Table card -->
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
    <div class="card">
        <div class="header">
            <h2>Trades
              <span>
              <input type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px">
              </span>
                <span>
                    <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                      <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                      <span class="inner-span">Clear</span>
                    </button>
                  </span>
                  <!-- <span>
                      <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                        <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
                        <span class="inner-span">Item Ledger</span>
                      </button>
                    </span> -->
                    <!-- <span>
                        <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                          <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
                          <span class="inner-span">Stock Count(c)</span>
                        </button>
                      </span>
                      <span>
                          <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                            <i class="fa fa-check" style="position: relative;right: 5px;"></i>
                            <span class="inner-span">Approve</span>
                          </button>
                        </span>
                        <span>
                            <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                              <i class="fa fa-plus" style="position: relative;right: 5px;"></i>
                              <span class="inner-span">New</span>
                            </button>
                          </span>
                          <span>
                              <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                <span class="inner-span">Update</span>
                              </button>
                            </span>
                            <span>
                                <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                  <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                                  <span class="inner-span">Edit Trade</span>
                                </button>
                              </span>
                              <span>
                                  <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                    <i class="fa fa-add" style="position: relative;right: 5px;"></i>
                                    <span class="inner-span">Make Trade</span>
                                  </button>
                                </span>
                                <span>
                                    <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                      <i class="fa fa-trash" style="position: relative;right: 5px;"></i>
                                      <span class="inner-span">Delete</span>
                                    </button>
                                  </span>
                                  <span>
                                      <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                        <i class="fa fa-camera" style="position: relative;right: 5px;"></i>
                                        <span class="inner-span">Pics</span>
                                      </button>
                                    </span>
                                    <span>
                                        <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                          <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                                          <span class="inner-span">Clear</span>
                                        </button>
                                      </span>
                                      <span>
                                          <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                            <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                            <span class="inner-span">Reload</span>
                                          </button>
                                        </span>
                                        <span>
                                            <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                              <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                              <span class="inner-span">Load All</span>
                                            </button>
                                          </span> -->
            </h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table table-hover dashboard-task-infos">
                    <thead>
                      <tr></tr>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                        <tr>
                            <th>Id</th>
                            <th>Received</th>
                            <th>Buyer</th>
                            <th>Seller</th>
                            <th>Location</th>
                            <th>Author</th>
                            <th>EditedBy</th>
                            <th>Ok</th>
                            <th>Pics</th>
                            <th>Comments1</th>
                            <th>Comments2/Tracking</th>
                            <th>Date</th>
                            <th>Item1</th>
                            <th>Qty1</th>
                            <th>ItemComments</th>
                            <th>Btach1</th>
                            <th>Expiry1</th>
                            <th>Mrp1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="dropdown">
                <span>Results per page</span>
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">10</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">All</a></li>
                  </ul>
                </div> -->
        </div>
    </div>
</div>
<!-- #END# table card -->
</section>