<div class="header">
    <img class="text-left">
    <div class="container">
        <h1 class="display1 text-center" id="h1">Login</h1>
        <p class="subhead  text-center" id="p">Enter your details to login</p>
        <div id="login" class="signin-card">
            <form>
                <div id="form-login-username" class="form-group">
                    <input id="username" class="form-control" required autofocus [(ngModel)]="username" name="username" #name="ngModel" name="username" type="text" size="18" alt="login" />
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <label for="username" class="float-label" id="float-label">Email</label>
                </div>
                <div id="form-login-password" class="form-group">
                    <input id="passwd" class="form-control username" required [(ngModel)]="password" name="password" #name="ngModel" type="password" size="18" alt="password" required>
                    <span class="form-highlight"></span>
                    <span class="form-bar"></span>
                    <!-- <label for="password" class="text-right" id="remember"> -->
                  <!-- <a  [routerLink]="['/forgot']">Forgot?</a></label> -->
                    <label for="password" class="float-label" id="label">Password</label>
                </div>
                <div>
                    <button class="btn btn-block btn-info"  id="btn" name="Submit" alt="sign in" (click)="login()">LOGIN</button>
                </div>
            </form><br><br>
            <p class="account"> Dont have an Account?<a [routerLink]="['/signup']">SignUp!</a>
        </div>
    </div>
</div>