<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
<!-- Inline Layout -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                Upload Orders
            </h2>
        </div>
        <div class="body">
            <form>
                <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                        <label for="email_address_2">Sheet Id</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="form-line">
                            <input  type="text"   class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-12px;text-align: center">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- #END# Inline Layout -->
</section>