<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
    <!-- Table card -->
   <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
        <div class="card">
           <div class="header">
              <h2>
                 Client Pricing
                 <span>
                 <input type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px">
                 </span>
                 <!-- <span>
                 <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                 <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
                 <span class="inner-span">Buyer Ledger</span>
                 </button>
                 </span>
                 <span>
                 <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                 <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
                 <span class="inner-span">Seller Ledger</span>
                 </button>
                 </span> -->
                 <!--
                    <span>
                         <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                           <i class="fa fa-plus" style="position: relative;right: 5px;"></i>
                           <span class="inner-span">New</span>
                         </button>
                       </span> 
                      <span>
                               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                 <i class="fa fa-add" style="position: relative;right: 5px;"></i>
                                 <span class="inner-span">Make Transfer</span>
                               </button>
                             </span>
                    
                              <span>
                             <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                               <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                               <span class="inner-span">Edit</span>
                             </button>
                           </span>
                    
                            <span>
                             <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                               <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                               <span class="inner-span">Open Transfer</span>
                             </button>
                           </span>
                    
                           
                             
                             <span>
                                 <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                   <i class="fa fa-trash" style="position: relative;right: 5px;"></i>
                                   <span class="inner-span">Delete</span>
                                 </button>
                               </span>
                    
                    
                    
                       <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                         <i class="fa fa-check" style="position: relative;right: 5px;"></i>
                         <span class="inner-span">Approve</span>
                       </button>
                     </span>
                    
                         <span>
                                   <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                     <i class="fa fa-camera" style="position: relative;right: 5px;"></i>
                                     <span class="inner-span">Pics</span>
                                   </button>
                                 </span>
                                 <span>
                                     <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                       <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                                       <span class="inner-span">Clear</span>
                                     </button>
                                   </span>
                                   <span>
                                       <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                         <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                         <span class="inner-span">Reload</span>
                                       </button>
                                     </span>
                                     <span>
                                         <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                           <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                           <span class="inner-span">Load All</span>
                                         </button>
                                       </span> -->
              </h2>
           </div>
           <div class="body">
              <div class="table-responsive">
                 <table class="table table-hover dashboard-task-infos">
                    <thead>
                       <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                       </tr>
                       <tr>
                          <th>Item Name</th>
                          <th>Account</th>
                          <th>INR Price</th>
                          <th>CCY Price</th>
                          <th>FX</th>
                          <th>Currency</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr></tr>
                       <tr></tr>
                       <tr></tr>
                       <tr></tr>
                       <tr></tr>
                    </tbody>
                 </table>
              </div>
              <!-- <div class="dropdown">
                 <span>Results per page</span>
                 <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                 <span class="caret"></span></button>
                 <ul class="dropdown-menu">
                    <li><a href="#">10</a></li>
                    <li><a href="#">25</a></li>
                    <li><a href="#">50</a></li>
                    <li><a href="#">100</a></li>
                    <li><a href="#">All</a></li>
                 </ul>
              </div> -->
           </div>
        </div>
     </div>
     <!-- #END# table card -->
</section>