<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
          <div class="header">
              <h2>Transfers
              </h2>
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover dashboard-task-infos">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                          <tr>
                              <th>Id</th>
                              <th>Date</th>
                              <th>Ok</th>
                              <th>CCY</th>
                              <th>Qty</th>
                              <th>Pics</th>
                              <th>Commenst1</th>
                              <th>Commenst2</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr></tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# table card -->
</section>