<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Inline Layout -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="col">
        <div class="card">
            <div class="body">
              <form>
                  <div class="row clearfix">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                        <label for="email_address_2">Start Date</label>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="form-line">
                          <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                        <label for="email_address_2">End Date</label>
                    </div>
                    <div class="ol-lg-4 col-md-4 col-sm-4 col-xs-8">
                        <div class="form-line">
                          <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-24px;text-align: center">Search</button>
                    </div>
                  </div>
              </form>
            </div>
        </div>
      </div>
      <!-- #END# Inline Layout -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
    <div class="card">
        <div class="header">
          <h2>
              Ledger in
          </h2>
        </div>
        <div class="body">
          <div class="table-responsive">
              <table class="table table-hover dashboard-task-infos">
                <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr>
                      <th>Balance </th>
                      <th>Amount</th>
                      <th>Date</th>
                      <th>Type</th>
                      <th>Status</th>
                      <th>Receiver</th>
                      <th>ID</th>
                      <th>Items</th>
                      <th>Prices</th>
                      <th>Quantity</th>
                      <th>Tracking</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
  </div>
  <!-- #END# table card -->
</section>