<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
         <div class="header">
            <h2>
               Item Pricing
               <!-- <span>
               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
               <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
               <span class="inner-span">Buyer Ledger</span>
               </button>
               </span>
               <span>
               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
               <i class="fa fa-shopping-cart" style="position: relative;right: 5px;"></i>
               <span class="inner-span">Seller Ledger</span>
               </button>
               </span> -->
               <!--
                  <span>
                       <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                         <i class="fa fa-plus" style="position: relative;right: 5px;"></i>
                         <span class="inner-span">New</span>
                       </button>
                     </span> 
                    <span>
                             <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                               <i class="fa fa-add" style="position: relative;right: 5px;"></i>
                               <span class="inner-span">Make Transfer</span>
                             </button>
                           </span>
                  
                            <span>
                           <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                             <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                             <span class="inner-span">Edit</span>
                           </button>
                         </span>
                  
                          <span>
                           <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                             <i class="fa fa-pencil" style="position: relative;right: 5px;"></i>
                             <span class="inner-span">Open Transfer</span>
                           </button>
                         </span>
                  
                         
                           
                           <span>
                               <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                 <i class="fa fa-trash" style="position: relative;right: 5px;"></i>
                                 <span class="inner-span">Delete</span>
                               </button>
                             </span>
                  
                  
                  
                     <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                       <i class="fa fa-check" style="position: relative;right: 5px;"></i>
                       <span class="inner-span">Approve</span>
                     </button>
                   </span>
                  
                       <span>
                                 <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                   <i class="fa fa-camera" style="position: relative;right: 5px;"></i>
                                   <span class="inner-span">Pics</span>
                                 </button>
                               </span>
                               <span>
                                   <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                     <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                                     <span class="inner-span">Clear</span>
                                   </button>
                                 </span>
                                 <span>
                                     <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                       <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                       <span class="inner-span">Reload</span>
                                     </button>
                                   </span>
                                   <span>
                                       <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                                         <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                                         <span class="inner-span">Load All</span>
                                       </button>
                                     </span> -->
            </h2>
         </div>
         <div class="body">
            <div class="table-responsive">
               <table class="table table-hover dashboard-task-infos">
                  <thead>
                     <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                     </tr>
                     <tr>
                        <th>Item Name</th>
                        <th>minItemMargin</th>
                        <th>Export Price</th>
                        <th>Active</th>
                        <th>Mrp</th>
                        <th>Custom</th>
                        <th>Cost Price</th>
                        <th>Market Price</th>
                        <th>Composition</th>
                        <th>Made By</th>
                        <th>Marketed By</th>
                        <th>Expiry</th>
                        <th>Mfg Date</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                     <tr></tr>
                  </tbody>
               </table>
            </div>
            <!-- <div class="dropdown">
               <span>Results per page</span>
               <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
               <span class="caret"></span></button>
               <ul class="dropdown-menu">
                  <li><a href="#">10</a></li>
                  <li><a href="#">25</a></li>
                  <li><a href="#">50</a></li>
                  <li><a href="#">100</a></li>
                  <li><a href="#">All</a></li>
               </ul>
            </div> -->
         </div>
      </div>
   </div>
   <!-- #END# table card -->
</section>