<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
          <div class="header">
              <h2>Order Processing
                <span>
                <!-- <input type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px"> -->
                <!-- <input type="text" name="search" placeholder="Search.."> -->
                <!-- <button type="submit"><i class="fa fa-search" style="position: relative;right: 5px;"></i></button> -->
                </span>
                  <!-- <span>
                    <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                      <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                      <span class="inner-span">Reload</span>
                    </button>
                    
                  </span>
                  <span>
                      <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                        <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                        <span class="inner-span">Clear</span>
                      </button>
                    </span> -->
                    <!-- <span>
                        <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                          <i class="fa fa-book" style="position: relative;right: 5px;"></i>
                          <span class="inner-span">Ledger</span>
                        </button>
                      </span> -->
              </h2>
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover dashboard-task-infos">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                          <tr>
                              <th>Id</th>
                              <th>Tracking</th>
                              <th>ShipMode</th>
                              <th>Client</th>
                              <th>Client Order Id</th>
                              <th>Items</th>
                              <th>Quantity</th>
                              <th>Estimated Weight</th>
                              <th>Weight</th>
                              <th>ClientNotes</th>
                              <th>OK</th>
                              <th>Printed</th>
                              <th>OutOfOfficeDate</th>
                              <th>Verified</th>
                              <th>VerifiedBy</th>
                              <th>Prescription</th>
                              <th>Indian Prescription</th>
                              <th>Invoice</th>
                              <th>InvValue</th>
                              <th>DeclareAs</th>
                              <th>Location</th>
                              <th>AddName</th>
                              <th>Add Contact</th>
                              <th>addA1</th>
                              <th>addA2</th>
                              <th>addCity</th>
                              <th>addZip</th>
                              <th>addCountry</th>
                              <th>address8</th>
                              <th>address9</th>
                              <th>address10</th>
                              <th>address11</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <!-- <div class="dropdown">
                  <span>Results per page</span>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">10</a></li>
                      <li><a href="#">25</a></li>
                      <li><a href="#">50</a></li>
                      <li><a href="#">100</a></li>
                      <li><a href="#">All</a></li>
                    </ul>
                  </div> -->
          </div>
      </div>
  </div>
  <!-- #END# table card -->
</section>