<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
          <div class="header">
              <h2>Product Gallery
                <span>
                </span>
              </h2>
              <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);">Action</a></li>
                          <li><a href="javascript:void(0);">Another action</a></li>
                          <li><a href="javascript:void(0);">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
            
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover dashboard-task-infos">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                          <tr>
                              <th>Item Name</th>
                              <th>Hot Items</th>
                              <th>Composition</th>
                              <th>Price</th>
                              <th>Dimensions(cm)</th>
                              <th>Weight(gms)</th>
                              <th>Unit</th>
                              <th>Originator</th>
                              <th>Marketed By</th>
                              <th>Made By</th>
                              <th>Batch</th>
                              <th>Expiry</th>
                              <th>MRP(INR)</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr></tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# table card -->
</section>