<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Inline Layout -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="col">
      <div class="card">
          <div class="body">
            <form>
                <div class="row clearfix">
                  <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                      <label for="email_address_2">Start Date</label>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-8">
                      <div class="form-line">
                        <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                      </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 form-control-label">
                      <label for="email_address_2">End Date</label>
                  </div>
                  <div class="ol-lg-4 col-md-4 col-sm-4 col-xs-8">
                      <div class="form-line">
                        <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                      </div>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                      <button type="button" class="btn btn-primary btn-lg m-l-15 waves-effect" id="btn" style="font-weight: 500;color: #ffffff !important;background-color: #596569 !important;border-color: #596569;width: 154px;top: -3px;left:-24px;text-align: center">Search</button>
                  </div>
                </div>
            </form>
          </div>
      </div>
    </div>
    <!-- #END# Inline Layout -->
    <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
          <div class="header">
              <h2>Ledger
                <span>
                <!-- <input type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px"> -->
                <!-- <input type="text" name="search" placeholder="Search.."> -->
                <!-- <button type="submit"><i class="fa fa-search" style="position: relative;right: 5px;"></i></button> -->
                </span>
                  <!-- <span>
                    <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                      <i class="fa fa-refresh" style="position: relative;right: 5px;"></i>
                      <span class="inner-span">Reload</span>
                    </button>
                    
                  </span>
                  <span>
                      <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                        <i class="fa fa-filter" style="position: relative;right: 5px;"></i>
                        <span class="inner-span">Clear</span>
                      </button>
                    </span>
                    <span>
                        <button style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;border-color: #596569;position: relative;left: 18px;width: 133px;height: 30px;">
                          <i class="fa fa-book" style="position: relative;right: 5px;"></i>
                          <span class="inner-span">Ledger</span>
                        </button>
                      </span> -->
              </h2>
              <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);">Action</a></li>
                          <li><a href="javascript:void(0);">Another action</a></li>
                          <li><a href="javascript:void(0);">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
            
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover dashboard-task-infos">
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                          <tr>
                              <th>Running Balance</th>
                              <th>Amount</th>
                              <th>Pending</th>
                              <th>Date</th>
                              <th>Buyer</th>
                              <th>Seller</th>
                              <th>Ok</th>
                              <th>Type</th>
                              <th>Item1</th>
                              <th>Qty1</th>
                              <th>Item2</th>
                              <th>Qty2</th>
                              <th>Pics</th>
                              <th>comments1</th>
                              <th>comments2</th>
                              <th>Id</th>
                              <th>Author</th>
                              <th>EditedBy</th>
                              <th>UpdatedAt</th>
                              <th>CreatedAt</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr></tr>
                      </tbody>
                  </table>
              </div>
              <!-- <div class="dropdown">
                  <span>Results per page</span>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">10</a></li>
                      <li><a href="#">25</a></li>
                      <li><a href="#">50</a></li>
                      <li><a href="#">100</a></li>
                      <li><a href="#">All</a></li>
                    </ul>
                  </div> -->
          </div>
      </div>
  </div>
  <!-- #END# table card -->
</section>