<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
    <!-- Table card -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table" *ngIf="show==false">
        <div class="card">
            <div class="header">
                <h2>Billing Summary</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Confirmed</th>
                                <th>Total</th>
                                <th>Pending</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Orders Value</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                            </tr>
                            <tr>
                                <td>Trades Value</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                            </tr>
                            <tr>
                                <td>Sub Total(items)</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                            </tr>
                            <tr>
                                <td>Payments</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                            </tr>
                            <tr>
                                <td>Transfers</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                            </tr>
                            <tr>
                                <td>Converts(Forex)</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                </tr>
                            <tr>
                                <td>Sub Total(payments)</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                            </tr>
                            <tr>
                                <td>Balance (to pay)</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                                <td>₹ 0	</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# table card -->
</section>

