<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Horizontal Layout -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
              <h2>
                  Edit Hot Items
              </h2>
          </div>
          <div class="body">
              <form class="form-horizontal">
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="email_address_2">Item Name</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line" >
                              <input  type="text"   class="form-control" placeholder="Hepcinat 28s">

                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="email_address_2">Comments</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line">
                                  <textarea name="comment" form="usrform" placeholder="Batch Number,etc..."></textarea>
                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="password_2">Upload Pics</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line">
                              <input  type="text"   class="form-control" placeholder="Hepcinat 28s">
                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">
                          <label for="password_2">Replace Pics</label>
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
                              <div class="form-line">
                              <input  type="text"   class="form-control">
                              <button type="button" style="position: relative;top: -30px;left: 12px;width:110px" >Choose Files</button>
                          </div>
                      </div>
                  </div>
                  <div class="row clearfix">
                      <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                          <button type="button" class="btn btn-primary m-t-15 waves-effect" id="btns" style="color: #ffffff !important;background-color: #596569 !important;font-weight: 500;                          border-color: #596569;position: relative;left: 18px;width: 170px;height: 40px;">Submit</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
<!-- #END# Horizontal Layout -->
</section>