<app-top-menu></app-top-menu>
<app-left-menu></app-left-menu>
<section class="content">
  <!-- Table card -->
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="table">
      <div class="card">
          <div class="header">
              <h2>All Account Balances
                <span>
                <input id="search-box" type="text" placeholder="Search.." name="search" style="position: relative;left: 15px;height: 30px !important;top:2px">
                </span>
              </h2>
              <ul class="header-dropdown m-r--5">
                  <li class="dropdown">
                      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="material-icons">more_vert</i>
                      </a>
                      <ul class="dropdown-menu pull-right">
                          <li><a href="javascript:void(0);">Action</a></li>
                          <li><a href="javascript:void(0);">Another action</a></li>
                          <li><a href="javascript:void(0);">Something else here</a></li>
                      </ul>
                  </li>
              </ul>
            
          </div>
          <div class="body">
              <div class="table-responsive">
                  <table class="table table-hover dashboard-task-infos" >
                      <thead>
                        <tr>
                          <th></th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                          <tr >
                              <th>Class</th>
                              <th>Account</th>
                              <th>Total</th>
                              <th>INR</th>
                              <th>RMB</th>
                              <th>USD</th>
                              <th>EUR</th>
                              <th>SGD</th>
                              <th>TRL</th>
                          </tr>
                      </thead>
                      <tbody *ngFor="let res of data">
                          <tr>
                              <td *ngIf="res.class;else next">{{ res.class }}</td>
                              <td>{{ res.account }}</td>
                              <td *ngIf="res.total;else next">-</td>
                              <td>{{ res.INR }}</td>
                              <td>{{ res.RMB }}</td>
                              <td>{{ res.USD }}</td>
                              <td>{{ res.EUR}}</td>
                              <td>{{ res.SGD }}</td>
                              <td>{{ res.TRL }}</td>
                              <ng-template #next>-</ng-template>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  <!-- #END# table card -->
  
</section>